h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Saira Condensed', sans-serif;
}
.bordesRedondeados{
    border: 1px solid black;
    border-radius: 20px;
}
.colorTexto{
    color: black;
    
}
.colorTitulo{
    color:black;
}
.bannerTitulo{
    background-image: url(../images/pokedex-wallpaper.png);
    background-size: cover;
}
.fondoCard{
    background-color:#1B4F72;
}


#contenedorCards{
    text-align: center;
}
#contenedorSpriteTeam{
    text-align: center;
    background-color: #507DBC;
    
}
.colorBusqueda{
    color:antiquewhite
}
.botonPokemon{
transition: all 1s;
}
.botonPokemon:hover{
 background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
color: black;
     
}
.botonEliminarPokemon{
    transition: all 1s;
}
.botonEliminarPokemon:hover{
    background-color: #FAD961;
    background-image: linear-gradient(204deg, #FAD961 0%, #F76B1C 100%);
  
     
}
    
    