h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Saira Condensed', sans-serif;
}
.bordesRedondeados{
    border: 1px solid black;
    border-radius: 20px;
}
.colorTexto{
    color: black;
    
}
.colorTitulo{
    color:black;
}
.bannerTitulo{
    background-image: url(../images/pokedex-wallpaper.png);
    background-size: cover;
}
.fondoCard{
    background-color:#1B4F72;
}


#contenedorCards{
    text-align: center;
}
#contenedorSpriteTeam{
    text-align: center;
    
    
}
.colorBusqueda{
    color:antiquewhite
}
.botonPokemon{
transition: all 1s;
}
.botonPokemon:hover{
 background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
color: black;
     
}
.botonEliminarPokemon{
    transition: all 1s;
}
.botonEliminarPokemon:hover{
    background-color: #FAD961;
    background-image: linear-gradient(204deg, #FAD961 0%, #F76B1C 100%);
  
     
}
.spriteGif{
    object-fit: contain !important;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    height: 100%; 
   
}  
.img-limited {
    height: 50% !important;
    width: 50% !important; 
    object-fit: contain; 
  }  


  .custom-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 15px;
    overflow: hidden;
    
  }
  .custom-card:hover {
    transform: translateY(-10px); /* Levanta la card un poco */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada */
    cursor: pointer; /* Cambia el cursor para indicar que se puede interactuar */
  }
  
  /* Estilos para la imagen de la card */
  .custom-card-image {
    position: relative !important;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .custom-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;
    filter:drop-shadow(5px 5px 5px #000)
  }
 
  .custom-card:hover .custom-card-image img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  }
 
  /* Título sobre la imagen */
  .custom-card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }
  
  /* Contenido de la card */
  .custom-card-content {
    padding: 15px;
  }
  
  .custom-card-content p {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  /* Estilos para la acción de la card (enlace) */
  .custom-card-action {
  
    padding: 10px;
    text-align: right;
  }
  
  .floating-btn {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    z-index: 1000; /* Asegura que el botón se quede sobre otros elementos */
}
 
#team-count {
    font-size: 0.8rem;
    padding: 0.4em 0.6em;
    z-index: 1;
  }
 